In [3]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('D:\examples\ex1.csv')

In [10]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
pd.read_table('D:\examples\ex1.csv', sep = ',')

d:\python3.7\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
!type D:\examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
pd.read_csv('D:\examples\ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [18]:
pd.read_csv('D:\examples\ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [20]:
pd.read_csv('D:\examples\ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('D:\examples\ex2.csv', names = names, index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [23]:
!type D:\examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [24]:
parsed = pd.read_csv('D:\examples\csv_mindex.csv', index_col=['key1','key2'])

In [25]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [27]:
list(open('D:\examples\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [29]:
result = pd.read_table('D:\examples\ex3.txt', sep='\s+')

d:\python3.7\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [30]:
!type D:\examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [31]:
pd.read_csv('D:\examples\ex4.csv', skiprows = [0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
!type D:\examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [33]:
result = pd.read_csv('D:\examples\ex5.csv')

In [34]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [36]:
result = pd.read_csv('D:\examples\ex5.csv', na_values=['NULL'])

In [37]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [39]:
pd.options.display.max_rows = 10

In [41]:
result = pd.read_csv('D:\examples\ex6.csv')

In [42]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [43]:
data = pd.read_csv('D:\examples\ex5.csv')

In [44]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [45]:
data.to_csv('D:\examples\out.csv')

In [46]:
!type D:\examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [47]:
import sys

In [48]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [51]:
dates = pd.date_range('1/1/2000', periods=7)

In [52]:
ts = pd.Series(np.arange(7), index = dates)

In [55]:
ts.to_csv('D:\examples\tseries.csv')

d:\python3.7\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

OSError: [Errno 22] Invalid argument: 'D:\\examples\tseries.csv'

In [56]:
!type D:\examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [57]:
import csv

In [59]:
f = open('D:\examples\ex7.csv')

In [60]:
reader = csv.reader(f)

In [61]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [62]:
with open('D:\examples\ex7.csv') as f:
    lines = list(csv.reader(f))

In [63]:
header, values = lines[0], lines[1:]

In [64]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [65]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [66]:
import JSON

In [69]:
obj = """
{'name': 'Wes',
'places_lived'}
result = json.loads(obj)

TypeError: the JSON object must be str, bytes or bytearray, not dict

In [70]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [71]:
asjson = json.dumps(result)

TypeError: Object of type DataFrame is not JSON serializable

In [72]:
frame = pd.read_csv('D:\examples\ex1.csv')

In [73]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [74]:
frame.to_pickle('D:\examples\ex1.csv')

In [75]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [78]:
frame.to_pickle('D:\examples\frame_pickle')

OSError: [Errno 22] Invalid argument: 'D:\\examples\x0crame_pickle'

In [79]:
pd.read_pickle('D:\examples\frame_pickle')

OSError: [Errno 22] Invalid argument: 'D:\\examples\x0crame_pickle'

In [80]:
pd.read_pickle('D:\examples\frame_pickle')

OSError: [Errno 22] Invalid argument: 'D:\\examples\x0crame_pickle'

In [81]:
frame = pd.DataFrame({'a':np.random.randn(100)})

In [82]:
store = pd.HDFStore('mydata.h5')

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

In [84]:
xlsx = pd.ExcelFile('D:\examples\ex1.xlsx')

ImportError: Install xlrd >= 1.0.0 for Excel support